{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>📜 Packet Logs</h2>

        <input
            type="text"
            id="searchInput"
            class="form-control w-25"
            placeholder="Search packets...">

    </div>

    <div class="card shadow">

        <div class="card-header bg-dark text-white">

            Captured Network Packets

        </div>

        <div class="card-body table-responsive">

            <table class="table table-hover table-bordered align-middle" id="logsTable">

                <thead class="table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Time</th>
                        <th>Source IP</th>
                        <th>Destination IP</th>
                        <th>Protocol</th>
                        <th>Port</th>
                        <th>Length</th>
                        <th>Decision</th>
                        <th>Matched Rule</th>

                    </tr>

                </thead>

                <tbody>

                {% for packet in packets %}

                <tr>

                    <td>{{ packet.id }}</td>

                    <td>{{ packet.timestamp }}</td>

                    <td>{{ packet.source_ip }}</td>

                    <td>{{ packet.destination_ip }}</td>

                    <td>

                        <span class="badge bg-info">
                            {{ packet.protocol }}
                        </span>

                    </td>

                    <td>{{ packet.port }}</td>

                    <td>{{ packet.length }}</td>

                    <td>

                        {% if packet.decision=="ALLOW" %}

                            <span class="badge bg-success">
                                ALLOW
                            </span>

                        {% else %}

                            <span class="badge bg-danger">
                                BLOCK
                            </span>

                        {% endif %}

                    </td>

                    <td>

                        {{ packet.matched_rule }}

                    </td>

                </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

<script>

const searchInput = document.getElementById("searchInput");

searchInput.addEventListener("keyup", function () {

    let filter = searchInput.value.toLowerCase();

    let rows = document.querySelectorAll("#logsTable tbody tr");

    rows.forEach(row => {

        row.style.display =
            row.innerText.toLowerCase().includes(filter)
            ? ""
            : "none";

    });

});

</script>

{% endblock %}